@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0f172a;
}
html {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 4s ease-in-out infinite;
}